rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper Primitives
    function isSignedIn() { return request.auth != null; }
    function isOwner(userId) { return isSignedIn() && request.auth.uid == userId; }
    
    // Global Deny
    match /{document=**} {
      allow read, write: if false;
    }

    // Connection Test
    match /test/connection {
      allow get: if isSignedIn();
    }

    // Validation
    function isValidUser(data) {
      return data.total is number && data.unitSize is number;
    }

    // Matches
    match /users/{userId} {
      allow get, write: if isOwner(userId);
    }

    match /bankrolls/{bankrollId} {
      allow get, delete: if isSignedIn() && resource.data.userId == request.auth.uid;
      allow list: if isSignedIn() && resource.data.userId == request.auth.uid;
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      allow update: if isSignedIn() && resource.data.userId == request.auth.uid && request.resource.data.userId == request.auth.uid;
    }

    match /bets/{betId} {
      allow get, delete: if isSignedIn() && resource.data.userId == request.auth.uid;
      allow list: if isSignedIn() && resource.data.userId == request.auth.uid;
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      allow update: if isSignedIn() && resource.data.userId == request.auth.uid && request.resource.data.userId == request.auth.uid;
    }

    match /transactions/{transactionId} {
      allow get, delete: if isSignedIn() && resource.data.userId == request.auth.uid;
      allow list: if isSignedIn() && resource.data.userId == request.auth.uid;
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      allow update: if isSignedIn() && resource.data.userId == request.auth.uid && request.resource.data.userId == request.auth.uid;
    }
  }
}
